[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = groupcache is a caching and cache-filling library, intended as a replacement for memcached in many cases.
[access "refs/*"]
	owner = group user/Sunghyun Park (madenmud)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sunghyun Park (madenmud)
	label-Verified = -1..+1 group user/Sunghyun Park (madenmud)
	push = group user/Sunghyun Park (madenmud)
	read = group user/Sunghyun Park (madenmud)
	rebase = group user/Sunghyun Park (madenmud)
	removeReviewer = group user/Sunghyun Park (madenmud)
	submit = group user/Sunghyun Park (madenmud)
[access "refs/heads/*"]
	create = group user/Sunghyun Park (madenmud)
	push = +force group user/Sunghyun Park (madenmud)
	pushMerge = group user/Sunghyun Park (madenmud)
	read = group user/Sunghyun Park (madenmud)
[access "refs/tags/*"]
	push = group user/Sunghyun Park (madenmud)
	push = +force group user/Sunghyun Park (madenmud)
